<h1>New Flat:</h1>

<%= simple_form_for @new_flat do |flat| %>
  <%= flat.input :name %>
  <%= flat.input :address %>
  <%= flat.input :description %>
  <%= flat.input :price_per_night %>
  <%= flat.input :number_of_guests %>
  <%= flat.button :submit %>
<% end %>
